<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"  th:href="@{/CSS/AboutUs.css}">
</head>
<body>
 <a th:href="@{/}"><em class="fa-solid fa-landmark"></em>&nbsp;Home</a>

    <div class="container4">
	
	<div class="post">
	<img alt="" th:src="@{/Image/IndianPost.jpg}" id="post" >

	</div>
	
	<div class="post-cont">
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	Department Of Posts<br> 
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	Ministry Of Communications<br>
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	
	Government Of India
	</div>
	</div>
	
	<div class="lio">
	<img alt="" th:src="@{/Image/national.jpg}" id="lion">
	</div>
	
	<div class="fla">
	<img alt="" th:src="@{/Image/flag.jpg}" id="flag">
	</div>
	
	<div class="lot">
	<img alt="" th:src="@{/Image/lotus.jpg}" id="lotus">
	</div>
	
	<br><br><br>
	
	<h3>About Us</h3>
	
	<div class="about">
	For more than 150 years, the department of Posts (DoP) has been the backbone of the country's communication and has played a crucial role in the country's social economic development.It<br>
	touches the lives of Indian in many ways: delivering mails,accepting mails,accepting deposits under Small Savings Schemes, providing life insurance cover under Postal Life Insurance (PLI) and<br> Rural
	Postal Life Insurance (RPLI) and providing retail services like bill collection, sale of forms, etc. The DoP also acts as an agent for Goverment of India in discharging other services for<br> citizens such
	as Mahatma Gandhi National Rural Employment Guarantees Scheme (MGNRGERS) wage disbursement and old age pension payments.With more than 1,55,000 post offices, <br>the DoP has most
	widely distributed postal network in the world.
	
	
	
	</div>

    <div class="container5">
    Home<br> About Us<br> Forms<br> Requitments<br>
	Holidays<br> Feedback<br> Right To Information
	</div>
		
	
	<div class="container6">
	Tenders India<br> Related Sites<br> Website Policies<br>
	Contacts<br> Employee Corner<br> Sitemap<br> help
	</div>
	<br>
	<br>
	<br>
	<br>
		
	<div class="content">
	The website belongs to Department of Posts,Ministry of
	Communications,Gol.Created and Managed by Tata Consultancy Services
	Ltd.<br>
	<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Content owned and
	updated by Department of Posts,Ministry of Communications,Goverment
	of India.Last Upadted:21 Feb 2023
	</div>

</body>
</html>