<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"  href="/CSS/Admin.css">
<title>Insert title here</title>
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css}">

</head>
<body>
<a th:href="@{/}"><em
	class="fa-solid fa-landmark"></em>&nbsp;</a>
  
    <div class="main">
    <div class="register">

    <h1>Sign In Here !!!</h1>
    <form name="form" action="/loginAdmin" method="get" th:object="${adminLogin}" align="center"> <br><br>
 
      <body>            
     
     <div class="container">
     <div class="left"><br><br><br><br><br><br><br>
                     
     <img alt="" th:src="@{/Image/Admin.jpg}" id="design">
     </div>
     <div class="right">
     <div class="formBox">
     <form>
     <p>Mail Id</p>
     <input type="text" name="MailId" id="MailId" th:field="*{mailId}" placeholder="MailId" required />
     <p>Password</p>
     <input type="Password" name="Password" th:field="*{password}" placeholder="Password" required />
     <input type="submit" name="" value="Sign In">
     
     <br>
     
     
    </form>
    </div>
    </div>

    </div>
    </body>



</body>
</html>