<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Deposit Dashboard</title>
<meta charset="UTF-8">
<script th:src="@{https://kit.fontawesome.com/853be5df50.js}" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/CSS/DepositDash.css}">
<link rel="stylesheet" th:href='@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href='@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}'>
</head>
<body>
<div class="sidebar">
<ul class="nav-links">
<li>
<a href="#" class="active"> <em class='bx bx-grid-alt'></em><span>Dashboard </span></a>
</li>
<li>
<a th:href="@{/recurring}"> <em class="fa-solid fa-comments-dollar"></em><span class="links_name">Recurring Deposit</span></a>
</li>
<li>
<a th:href="@{/timeDepositModel}"> <em class='fa-solid fa-comments-dollar'></em><span class="links_name">Time Deposit</span></a>
</li>
<li>
<a th:href="@{/seniorCitizenModel}"> <em class="fa-solid fa-comments-dollar"></em><span class="links_name">Senior Citizen<br>Deposit</span></a>
</li>
<li>
<a th:href="@{/passBook}"> <em class="fa-solid fa-book-open-reader"></em><span class="links_name">PassBook</span></a>
</li>
<li>
<a th:href="@{/}"> <em class='fa fa-sign-out'></em><span class="links_name">Logout</span></a>
</li>

</ul>
</div>

    <section class="home-section">
    <nav>
    <div class="logo">
<img th:src="@{/Image/PostOffice.jpg}" alt="logo">
</div>
    <div class="title">
<h2>
<span>&emsp;&emsp;&emsp;Post Office<br>&emsp;&emsp;&emsp;Management</span>
</h2>
</div>
      <div class="profile-details">
        <div class="session">
        <p th:text="${session.UserName}"></p>
        </div>
        </div>
    </nav>
   
    <img alt="" th:src="@{/Image/Deposit6.jpg}" id="deposit">
   </section>
</body>
</html>