<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forget Password</title>
<link rel="stylesheet" href="/CSS/Forget.css">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css}">
    </head>

</head>
<style>

</style>
<body>
  <a th:href="@{/}"><em class="fa-solid fa-landmark"></em>&nbsp;</a>
<h1>Change Password !!!</h1>

<form method="get" th:action="@{/forget}" th:object="${forget}">

<div class="container"><br>
<div class="main">
<div class="register">

   <label for="email"><strong>&emsp;&emsp;Enter User Name:</strong></label><br> 
   <input type="text" name="userName" id="userName" th:field="*{userName}" placeholder="User Name"><br>
                

<br>
<label for="newPassword"><strong>&emsp;&emsp;&nbsp;New Password:</strong></label><br>
<input type="password" id="newPassword" name="password" th:field="*{password}" placeholder="New password" /><br><br>

<label for="confirmPassword"><strong>&emsp;&emsp;Confirm Password:</strong></label><br>
<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" /><br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="checkbox" onclick="myFunction()">&nbsp;Show Password
<p class="form-actions">
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<button type="submit" value="Change Password" >Change Password</button>
</p>
</div>
</div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("confirmPassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

</script>
</body>
</html>