<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/RegisterSuccess.css}">
</head>
<body>
    <div class="container">
        <div class="popup" id="popUp">
            <img th:src="@{/Image/RegisterSuccess2.jpg}" alt="Checked">
            <h2>Login Successfully !!!</h2>
            
            <h3>Welcome !</h3> 
            <br><p th:text="${session.UserName}"></p>
            

            <button type="button" th:onclick="location.href='/userDashBoard'">Next</button>
        </div>
    </div>
</body>
</html>