<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/SeniorCitizenPay.css}">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/RecurPay.css}">
</head>
<body>
<div class="menu-bar">
        <ul>
        <ol class="active"><a th:href="@{/recurring}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;Recurring Deposit</a>
        </ol>
        
        <ol><a th:href="@{/timeDepositModel}"><em class="fa-solid fa-comments-dollar"></em><br>&nbsp;Time Deposit</a></ol>
        <ol><a th:href="@{/seniorCitizenModel}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;SeniorCitizen Deposit</a>
        </ol><br><br><br><br><br>
        
        <ol><a th:href="@{/logout}"><em class="fa-sharp fa-solid fa-arrow-right-from-bracket"></em><br>Log Out</a></ol>
        </ul>
        
        </div><br>
        <h1> Welcome To Payment !!!</h1>
        <div class="recur">
        <div class="recurring">
        <div class="pay">
        </div>
        <form id="recuringForm" th:action="@{/recurringPaymentMethod}"  method="get" th:object="${recurringPayment}" align="center">
        
        <br><br>
        <label>User Name:</label>
        <br>
        &nbsp; &nbsp; &nbsp;<input type="text" name="depositUserName" id="UserName" readonly="readonly"  placeholder="User Name" th:value="${session.UserName}" required />
        <br><br>
								
        &nbsp; &nbsp; &nbsp;<label>Amount:</label>
        <br>
        &nbsp; &nbsp; &nbsp;<input type="number" name="recurPrincipleAmount" id="Amount"  placeholder="Amount" th:value="${session.paidAmount}" required />
        <br><br>
       
        <button type="submit">Pay</button>
        <button a th:href="@{/depositDashBoard}">Back</a></button>
        
        </form>
        </div>
        </div>
    

<script type= "text/Javascript" th:src= "@{/Javascript/DepositRegexValidation.js}"></script>
    
</body>
</html>