<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/CSS/SeniorCitizenPay.css">
</head>
<body>
  <div class="menu-bar">
       <ul>
       <ol class="active"><a th:href="@{/recurring}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;Recurring Deposit</a>
 
        </ol>
        <ol><a th:href="@{/timeDepositModel}"><em class="fa-solid fa-comments-dollar"></em><br>&nbsp;Time Deposit</a></ol>
        <ol><a th:href="@{/seniorCitizenModel}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;SeniorCitizen Deposit</a>
        </ol><br><br><br><br><br>
          
        <ol><a href="/logout"><em class="fa-sharp fa-solid fa-arrow-right-from-bracket"></em><br>Log Out</a></ol>
        </ul>
        </div><br>

        <h1> Welcome To Payment !!!</h1>
        <div class="main">
        <div class="register"><br>

        <form id="recuringForm" th:action="@{/seniorPayment}" method="get" th:object="${seniorPayment}" align="center" >
    
        &nbsp; &nbsp; &nbsp; <label>User Name:</label>
        <br>
        &nbsp; &nbsp; &nbsp;<input type="text" name="customerName" id="UserName" readonly="readonly" placeholder="UserName" th:value="${session.UserName}" required />
        <br><br>
                    
        &nbsp; &nbsp; &nbsp;<label>Amount:</label>
        <br>
        &nbsp; &nbsp; &nbsp;<input type="number" name="depositAmount1" id="Amount" placeholder="Amount" th:value="${session.PaymentAmount}" onkeyup="amountValidation1()" required />
        <span id="amount-error"></span>
        <br><br>

               
       <button>Pay</button>
       <a th:href="@{/depositDashBoard}">Back</a>


       </form>
<script type= "text/Javascript" th:src="@{/Javascript/DepositRegexValidation.js}"></script>
    
</body>
</html>