<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script th:src="@{/Javascript/depositValid.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/SeniorDep.css}">
</head>
<body>
 <div class="menu-bar">
     <ul>
     <ol class="active"><a th:href="@{/recurring}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;Recurring Deposit</a>
 
     </ol>
     <ol><a th:href="@{/timeDepositModel}"><em class="fa-solid fa-comments-dollar"></em><br>&nbsp;Time Deposit</a></ol>
     <ol><a th:href="@{/seniorCitizenModel}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;SeniorCitizen Deposit</a>
     </ol><br><br><br><br><br>
         
                
     <ol><a th:href="@{/}"><em class="fa-sharp fa-solid fa-arrow-right-from-bracket"></em><br>Log Out</a></ol>
     </ul>
     </div><br>
      <h1>Welcome To Senior Citizen Saving Scheme !!!</h1>
      <div class="senior">
     <img alt="" th:src="@{/Image/SeniorCitizen.jpg}" id="seniorCitizen">
     </div>
    
     <div class="main">
     <div class="register">
 
     <form id="seniorDeposit" th:action="@{/seniorCitizen}" method="get" th:object="${seniorCitizen}" align="center">
     <br><br>  
     &nbsp; &nbsp; &nbsp;  <label>User Name:</label>
     <br>
     &nbsp; &nbsp; &nbsp;  <input type="text" name="customerName" id="UserName" th:value="${session.UserName}" readonly="readonly" placeholder="UserName" required />
     <br><br>

                   
     &nbsp; &nbsp; &nbsp;<label>Mobile Number:</label>
     <br>
     &nbsp; &nbsp; &nbsp;<input type="number" name="customermobileNo" id="MobileNumber"  placeholder="MobileNumber" th:field="*{customermobileNo}" onkeyup="mobileNoValidation()" required />  
     <div class="mobile">
     <span id="mobileNo-error"></span>
     <br></div>

     &nbsp; &nbsp; &nbsp; <label>Account Number:</label>
     <br>
     &nbsp; &nbsp; &nbsp;<input type="number" name="customeraccountNo" id="AccountNumber" placeholder="AccountNumber" readonly="readonly" th:value="${session.AccountNo}" onkeyup="accountNoValidation()" required />
     <div class="act">
     <span id="accountNo-error"></span>
     <br></div>
     
    

     &nbsp; &nbsp; &nbsp;<label>Principle Amount:</label>
     <br>
     &nbsp; &nbsp; &nbsp;<input type="number" name="PrincipleAmount" id="PrincipleAmount" placeholder="PrincipleAmount" th:field="*{depositAmount}"  onkeyup="amountValidation1()" required />
     <div class="amt">
     <span id="amount-error"></span>
     <br></div>
     
     &nbsp; &nbsp; &nbsp; <label>Age:</label>
     <br>
     &nbsp; &nbsp; &nbsp;<input type="number" name="age" id="Age" placeholder="Age" th:field="*{age}" onkeyup="ageValidation()" required />
     <div class="age">
     <span id = "age-error"></span>
     <br></div>
     
     <input type="checkbox" required><button onclick="return calculate()">Calculate</button><br><br>
       
       
      &nbsp; &nbsp; &nbsp; <label>Simple Interest:</label>
     <br>
     &nbsp; &nbsp; &nbsp;<input type="text" name="SimpleInterest" id="simpleInterest" placeholder="Simple Interest" th:field="*{simpleInterest}" />
     <br><br>
     
      &nbsp; &nbsp; &nbsp; <label>Maturity Amount:</label>
     <br>
     &nbsp; &nbsp; &nbsp;<input type="text" name="MaturityAmount" id="maturityAmount" placeholder="Maturity Amount" th:field="*{paymentMaturity}" />
     <br><br>
     
      &nbsp; &nbsp; &nbsp; <label>Total Amount:</label>
      <br>
      &nbsp; &nbsp; &nbsp;<input type="text" name="TotalAmount" id="totalAmount" placeholder="Total Amount" th:field="*{amountTotal}"/>
      <br><br>
      
    
     
     Are You Ready To Pay?&emsp;<input type="checkbox"><button type="submit">Payment</button><br><br>
     <button><a th:href="@{/depositDashBoard}">Back</a></button>
  
    
  
     </form>
    
   
    
     <script type= "text/Javascript" th:src= "@{/Javascript/DepositRegexValidation.js}"></script>
    
    </div>
    </div>
    <script>
    
    function calculate(){
    	var a=parseInt(document.getElementById("PrincipleAmount").value);
    	var b= rate=7.4;
    	var c= time=5*12;
         
         
    	 if(a<0){
    	alert("Invalid Amount");	 
    	 }
    	 else{
    	var simpleInterest=(a*b*c)/100;
    	document.getElementById("simpleInterest").value=simpleInterest;
    	
    	var maturityAmount=a*5*12;
    	document.getElementById("maturityAmount").value=maturityAmount;
    	
    	var totalAmount= simpleInterest+maturityAmount;
    	document.getElementById("totalAmount").value=totalAmount;
    	return false;
    	 
    	 }
    	 return false;
    	 }
    
     </script>
    

    <script>  
    function dateCalulation(){
    var year1=new Date("December 31, 1947 20:22:10 GMT+11:00");  
    var year2=new Date("December 31, 1947 20:22:10 GMT-11:00");  
    document.writeln("Year value1 : "+year1.getUTCFullYear()+"<br>");  
    document.writeln("Year value2 : "+year2.getUTCFullYear());  
    }
    
</script>  

</body>
</html>