<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1">

<title>Time Deposit</title>

<!-- slick grid start -->

<link rel="stylesheet"

th:href="@{/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css}"

type="text/css" />


<link rel="stylesheet" th:href="@{/SlickGrid/slick.grid.css}"

type="text/css" />

<link rel="stylesheet" th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
    th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">



<link rel="stylesheet" th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
   th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">

<style>

.slick-headerrow-column {

background: #87ceeb;

text-overflow: clip;

-moz-box-sizing: border-box;

box-sizing: border-box;

}

.slick-headerrow-column input {

margin: 0;

padding: 0;

width: 100%;

height: 100%;

-moz-box-sizing: border-box;

box-sizing: border-box;

}

</style>

<!-- slick grid end -->

</head>

<body>

<div style="position: relative; margin-top: 100px;" >

<div style="width: 1250px;" >

<div id="myGrid" style="width: 100%; height: 500px;" ></div>

</div>

</div>
<input type="text" id="time" th:value="${timeDepositUsersList}" style="display:none;">

<div th:attr="data-myvar=${timeDepositUsersList}" id="myDiv"></div>

<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

<script th:src="@{/SlickGrid/slick.core.js}"></script>

<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

<script th:src="@{/SlickGrid/slick.grid.js}"></script>

<script th:src="@{/SlickGrid/lib/firebugx.js}"></script>

<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>


	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

<script th:src="@{/SlickGrid/plugins/slick.checkboxselectcolumn.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.autotooltips.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangedecorator.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangeselector.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellcopymanager.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.rowselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.columnpicker.js}"></script>

	<script th:src="@{/SlickGrid/slick.formatters.js}"></script>

	<script th:src="@{/SlickGrid/slick.editors.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>
<script th:src="@{/SlickGrid/slick.grid.js}"></script>

<script th:src="@{/SlickGrid/controls/slick.pager.js}"></script>
    <script th:src="@{/SlickGrid/Interaction.js}"></script>



<script type="text/javascript" th:src="@{/Javascript/TimeDeposit.js}"></script>


<script th:inline="javascript">
timeDeposit();
</script>

<button><a th:href="@{/adminDashBoard}">Back</a></button>

</body>

</html>