<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PostOfficeSystem</display-name>
  <welcome-file-list>
     
    
     <welcome-file>MainPage.jsp</welcome-file>
     <welcome-file>HomePage.jsp</welcome-file>
     <welcome-file>User.jsp</welcome-file>
     <welcome-file>Admin.jsp</welcome-file>
     <welcome-file>Register.jsp</welcome-file>
     <welcome-file>Login.jsp</welcome-file>
     <welcome-file>Deposit.jsp</welcome-file>
     <welcome-file>ParcelBooking.jsp</welcome-file>
     <welcome-file>AdminLogin.jsp</welcome-file>
     <welcome-file>Deposit.jsp</welcome-file>
     <welcome-file>ParcelBooking.jsp</welcome-file>
     <welcome-file>Tracking.jsp</welcome-file>
   
    
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
</welcome-file-list>
 
   <servlet>
   
   <servlet-name>RegTestServlet</servlet-name>
   <servlet-class>com.servlet.RegTestServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>RegTestServlet</servlet-name>
   <url-pattern>/RegTestServlet</url-pattern>
   </servlet-mapping>
  <servlet>
  <servlet-name>LoginTestServe</servlet-name>
   <servlet-class>com.servlet.LoginTestServe</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>LoginTestServe</servlet-name>
   <url-pattern>/LoginTestServe</url-pattern>
   </servlet-mapping>

   <servlet>

   <servlet-name>AdminLogTestServe</servlet-name>
   <servlet-class>com.servlet.AdminLogTestServe</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AdminLogTestServe</servlet-name>
   <url-pattern>/AdminLogTestServe</url-pattern>
   </servlet-mapping>

   <servlet>
  
   <servlet-name>DepositServlet</servlet-name>
   <servlet-class>com.servlet.DepositServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DepositServlet</servlet-name>
   <url-pattern>/DepositServlet</url-pattern>
   </servlet-mapping>

   <servlet>
  
   <servlet-name>BookingServlet</servlet-name>
   <servlet-class>com.servlet.BookingServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>BookingServlet</servlet-name>
   <url-pattern>/BookingServlet</url-pattern>
   </servlet-mapping>

   <servlet>
  
   <servlet-name>TrackingServlet</servlet-name>
   <servlet-class>com.servlet.TrackingServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>TrackingServlet</servlet-name>
   <url-pattern>/TrackingServlet</url-pattern>
   </servlet-mapping>
 
</web-app>